@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Olá, Visitante</h1>
    <h1 class="display-4">Bem-Vindo a minha lista de Contatos e de Cursos!!!</h1> 
    
</div>
